/* ----goblables----- */
/* footer*/
* {
  margin: 0px;
  padding: 0px;
}
footer {
  color: $color-texto-b;
  background: linear-gradient(336deg, $color-gradient);
  margin: 0px 1px 1px 1px;
  padding: 5px;
  text-align: center;
}
/*cards*/
.card {
  border: 0 !important;
  margin-top: 0.5rem;
}
.nav-link:hover {
  color: $color-secundario !important;
}
/* ----fin de globales----- */
