/* ----goblables----- */

/* footer*/
footer {
  color: $color-texto-b;
  background: linear-gradient(336deg, $color-gradient);
  margin: 0px 1px 1px 1px;
  padding: 5px;
  text-align: center;
}

/*cards*/
.card {
  border: 0 !important;
  margin-top: 1rem;
}
@include respond-to("small") {
  .card {
    display: flex;
    justify-items: center !important;
  }
}
.nav-link:hover {
  color: $color-secundario !important;
}
/* ----fin de globales----- */
