/* ----variables----- */
$color-primario: #fe531e;
$color-secundario: #1bb8f9;
$color-texto-b: rgb(247, 232, 225);
$color-gradient: -moz-linear-gradient(
  #ff9600 0%,
  #fe531e 26%,
  #c022a5 57%,
  #1bb8f9 100%
);
$color-background: rgb(240, 248, 255);
/* ----fin de variables----- */
