/* paleta de colores 
rgb(42, 43, 61) oscuro titulos
rgb(176, 45, 114); fuccia 
rgb(119, 89, 84) morado
rgb(247, 232, 225) beige
rgb(25, 60, 70) azul
#EAE0EE fondo titulos
*/

/* footer*/
footer {
  color: white;
  background: linear-gradient(
    336deg,
    rgb(247, 232, 225) 0%,
    rgb(176, 45, 114) 35%,
    rgb(47, 162, 194) 100%
  );
  margin: 0px 1px 1px 1px;
  padding: 5px;
  text-align: center;
}
/* carrusel*/
@media (min-width: 1200px) {
  #carousel-img {
    width: 1350px;
    height: 650px;
  }
}
#corousel-content {
  background-color: rgb(47, 162, 194);
  color: antiquewhite;
  padding: 5px;
  opacity: 85%;
  transform: translateY(25px, -150px);
}
.card {
  border: 0 !important;
  margin-top: 1rem;
}
@media (min-width: 450px) {
  .card {
    display: flex;
    justify-items: center !important;
  }
}
