/* ----blog page----- */
.row-blog {
  &__blog-article {
    gap: 1rem;
  }
  &__blog-pagination {
    color: $color-secundario;
    margin-top: 2rem;
  }
  &__blog-article-title {
    max-width: 1rem;
  }
}
/* ----fin de blog page----- */
