/* ----index page----- */
/* carrusel*/
#corousel-content {
  background-color: $color-primario;
  color: $color-texto-b;
  padding: 1rem;
  opacity: 85%;
  transform: translateY(25px, -150px);
}
@media (min-width: 1200px) {
  #carousel-img {
    width: 50rem;
    height: 32rem;
  }
  #plantilla-img {
    width: 23rem;
    height: 15rem;
  }
  #servicios-img {
    width: 28rem;
    height: 24rem;
  }
}
#mobile {
  background-color: #f2b3bb;
}
/* ----end of index page----- */
