/* ----presupuestar page----- */
.beneficios {
  &__title {
    margin-top: 2rem;
  }
  &__item {
    margin-top: 1rem;
  }
}
.form-group {
  margin-top: 1rem;
}
/* ----end of presupuestar page----- */
